<!-- printer-modal.html -->
<div id="configModal" class="modal fade" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: black; color: white;">
            <div class="modal-header">
                <h5 class="modal-title" id="configModalLabel">Add/Edit Printer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="group-border">
                    <div class="group-header">Bambu Printer Info:</div>
                    <div class="form-group mb-3">
                        <label for="printerHost">Host:</label>
                        <input type="text" class="form-control" id="printerHost">
                    </div>
                    <div class="form-group mb-3">
                        <label for="printerPort">Port:</label>
                        <input type="number" class="form-control" id="printerPort">
                    </div>
                    <div class="form-group mb-3">
                        <label for="printerUser">User:</label>
                        <input type="text" class="form-control" id="printerUser">
                    </div>
                    <div class="form-group mb-3">
                        <label for="printerPassword">Password:</label>
                        <input type="password" class="form-control" id="printerPassword">
                    </div>
                    <div class="form-group mb-3">
                        <label for="deviceId">Device ID:</label>
                        <input type="text" class="form-control" id="deviceId">
                    </div>
                    <div class="form-group mb-3">
                        <label for="printerTitle">Printer Title:</label>
                        <input type="text" class="form-control" id="printerTitle">
                    </div>
                </div>

                <div class="group-border">
                    <div class="group-header">Pushover Info:</div>
                    <div class="form-group mb-3">
                        <label for="pushoverSound">Sound:</label>
                        <input type="text" class="form-control" id="pushoverSound">
                    </div>
                    <div class="form-group mb-3">
                        <label for="userKey">User Key:</label>
                        <input type="text" class="form-control" id="userKey">
                    </div>
                    <div class="form-group mb-3">
                        <label for="appKey">App Key:</label>
                        <input type="text" class="form-control" id="appKey">
                    </div>
                </div>

                <div class="group-border">
                    <div class="group-header">Additional Features:</div>
                    <div class="form-group mb-3">
                        <label for="ledControl">LED Light Control:</label>
                        <input type="checkbox" class="form-check-input" id="ledControl">
                    </div>
                    <div class="form-group mb-3">
                        <label for="wledIp">WLED IP:</label>
                        <input type="text" class="form-control" id="wledIp">
                    </div>
                </div>

                <div class="group-border">
                    <div class="group-header">Appearance:</div>
                    <div class="form-group mb-3">
                        <label for="printerColor">Printer Color:</label>
                        <input type="color" class="form-control" id="printerColor">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="savePrinter()">Save</button>
            </div>
        </div>
    </div>
</div>